.colStyle {
  border: 2px solid black;
}

.back{
  display: none;
}

/* .javaBack {
  display: none;
}

.oprBack {
  display: none;
}

.varBack {
  display: none;
}

.varNBack {
  display: none;
}

.funcBack {
  display: none;
}

.methBack {
  display: none;
}
.argBack {
  display: none;
}
.paraBack {
  display: none;
}
.retBack {
  display: none;
}
.chainBack {
  display: none;
}
.strBack {
  display: none;
}
.boolBack {
  display: none;
}
.undeBack {
  display: none;
}
.nanBack {
  display: none;
}
.escaBack {
  display: none;
}
.aleBack {
  display: none;
}
.comBack {
  display: none;
}
.jqueryBack {
  display: none;
}
.attBack {
  display: none;
} */
